.about-info {
    height: 100%;
    padding: 50px 15px;
    line-height: 1.5;
    background: #f7f7f7;
    
    dt {
        @extend .title;
        padding: 1em 0;
        font-weight: bold;
    }
    dd {
        padding-bottom: 15px;
        font-size: $font-content;
        border-bottom: $border;
    }

    a {
        color: #42b983;
    }

}