@import 'common/reset.scss';
@import 'common/common.scss';
#page {
    padding-top: 60px;
    transition: all .3s ease;
}

.page {
    background-color: $colorfff;
    height: 100%;
    padding: $gap*3 0;
    .title {
        font-size: 20px;
        margin: 0 $gap*2;
    }
    .user {
        width: 100%;
        margin: $gap*3 0;
        padding: 0 $gap*2;
        @extend .display-flex;
        .tab {
            display: inline-block;
            width: $gap*8;
            color: $color62;
            border-radius: $gap;
            background-color: $colore7;
            margin-right: $gap*2;
            text-align: center;
            height: $gap*4;
            line-height: $gap*4;
            vertical-align: middle;
        }
        .good {
            background-color: $color80;
            color: $colorfff;
        }
        .title {
            font-size: $gap*3.6;
            font-weight: bold;
            @extend .flex1;
            @extend .break;
        }
        .head {
            display: inline-block;
            width: $gap*8;
            height: $gap*8;
            border-radius: 50%;
            margin-right: $gap*2;
        }
        .info {
            display: inline-block;
            @extend .flex1;
            .cl {
                float: left;
                width: 70%;
                .name {
                    display: block;
                    color: $color62;
                }
            }
            .cr {
                float: right;
                width: 30%;
                text-align: right;
                .name {
                    display: block;
                    margin-top: $gap;
                    color: $color80;
                    font-size: $gap*2.4;
                }
            }
        }
    }
    .topic_content {
        margin: 0 $gap*2;
        border-top: solid 1px $colord4;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 20px 0 15px 0;
            border-bottom: 1px solid #eee;
        }
        h1 {
            font-size: 13 * 2.5px;
        }
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 15px;
            line-height: 1.7em;
            overflow: auto;
        }
        h3 {
            font-size: 24.5px;
        }
        h4 {
            font-size: 17.5px;
        }
        code {
            padding: 2px 4px;
            color: #d14;
            white-space: nowrap;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }
        pre {
            code {
                padding: 0;
                color: inherit;
                white-space: pre;
                white-space: pre-wrap;
                background-color: transparent;
                border: 0;
            }
            .prettyprint {
                font-size: 14px;
                border-radius: 0;
                padding: 0 15px;
                border: 0;
                margin: 20px -10px;
                border-width: 1px 0;
                background: #f7f7f7;
            }
        }
        img {
            width: auto\9;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            -ms-interpolation-mode: bicubic;
        }
    }
    .reply_num {
        margin-top: $gap*4;
        background-color: $colore7;
        padding: $gap*2 0 $gap*2 $gap*2;
        border-top: solid 1px $colord4;
        border-bottom: solid 1px $colord4;
    }
    .reply-list {
        width: 100%;
        margin-top: $gap*3;
        ul {
            width: 100%;
            list-style: none;
            li {
                width: 100%;
                list-style: none;
                border-bottom: solid 1px $colord4;
                &:last-child {
                    border-bottom: none;
                }
                .uped {
                    color: $color80;
                }
                .icon {
                    font-size: 26px;
                }
                .reply_content {
                    padding: 0 $gap*3;
                    margin-bottom: $gap*3;
                    img {
                        width: auto\9;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                        border: 0;
                        -ms-interpolation-mode: bicubic;
                    }
                }
            }
        }
    }
    .reply {
        width: 100%;
        margin-top: $gap*3;
        border-top: solid 1px $colord4;
        .text {
            margin: $gap*3 2%;
            width: 96%;
            border-color: $colord4;
            color: #000;
        }
        .btn {
            display: inline-block;
            border-radius: $gap;
            text-align: center;
            font-size: 16px;
            margin: 0 2% $gap*3;
            width: 96%;
            background-color: $color80;
            padding: $gap*2 0;
            color: $colorfff;
        }
        .err {
            border-color: red;
        }
    }
}

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6,
.reply_area h1,
.reply_area h2,
.reply_area h3,
.reply_area h4,
.reply_area h5,
.reply_area h6,
.topic_content h1,
.topic_content h2,
.topic_content h3,
.topic_content h4,
.topic_content h5,
.topic_content h6 {
    margin: 30px 0 15px 0;
    border-bottom: 1px solid #eee;
}

.topic_content h1 {
    font-size: 13 * 2.5px;
}

.topic_content h2 {
    font-size: 26px;
}

.topic_content p,
.reply_content p,
.reply_form p,
.preview p {
    font-size: 15px;
    line-height: 1.5em;
    overflow: auto;
}


/* markdown editor */

.markdown-text p,
.preview p {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    margin: 1em 0;
}

.markdown-text > *:first-child,
.preview > *:first-child {
    margin-top: 0;
}

.markdown-text > *:last-child,
.preview > *:last-child {
    margin-bottom: 1em;
}

.markdown-text li,
.preview li {
    font-size: 14px;
    line-height: 2em;
}

.markdown-text p code,
.preview p code,
.markdown-text li code,
.preview li code {
    color: black;
    background-color: #fcfafa;
    padding: 4px 6px;
}
