.page {
    background-color: $colorfff;
    height: 100%;
    padding: $gap*3 0;

    .reply_num {
        margin-top: $gap*4;
        background-color: $colore7;
        padding: $gap*2 0 $gap*2 $gap*2;
        border-top: solid 1px $colord4;
        border-bottom: solid 1px $colord4;
    }
    .reply-list {
        width: 100%;
        margin-top: $gap*3;
        ul {
            width: 100%;
            list-style: none;
            padding-left: 0;
            li {
                width: 100%;
                list-style: none;
                border-bottom: solid 1px $colord4;
                &:last-child {
                    border-bottom: none;
                }
                .uped {
                    color: $color80;
                }
                .icon {
                    font-size: 26px;
                }
            }
        }
    }
    .topic_content {
        margin: 0 $gap*2;
    }
    .reply {
        width: 100%;
        margin-top: $gap*3;
        border-top: solid 1px $colord4;
        .text {
            margin: $gap*3 2%;
            width: 96%;
            border-color: $colord4;
            color: #000;
        }
        .btn {
            display: inline-block;
            border-radius: $gap;
            text-align: center;
            font-size: 16px;
            margin: 0 2% $gap*3;
            width: 96%;
            background-color: $color80;
            padding: $gap*2 0;
            color: $colorfff;
        }
        .err {
            border-color: red;
        }
    }
    .message {
        border-bottom: solid 1px $colord4;
        padding: $gap*2 0;
    }
    .tabs {
        width: 100%;
        height: $gap*8.2;
        margin-top: $gap*6;
        list-style: none;
        border-bottom: solid 1px $colord4;
        position: relative;
        .item {
            width: 50%;
            padding: $gap*2.5 0;
            float: left;
            font-size: 16;
            text-align: center;
            font-weight: bold;
            
        }
        .read {
            font-size:$gap*5;
            color: $color80;
            position:absolute;
            right:$gap*1;
            top:$gap*1.5;
            font-weight:bold;
        }
        .br {
            border-right: solid 1px $colord4;
        }
        .selected {
            color: $red;
            border-bottom: solid 2px $red;
        }
    }
    .icon-empty {
        font-size: $gap*25;
        display: block;
    }
}
