#brim-mask {
    pointer-events: none;
}

#page {
    padding-top: 44px;
    background-color:#fff;
    transition: all .3s ease;
    overflow-x:hidden;
}

.show-menu {
    transform: translateX($gap*40);
}

.page-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 7;
}


/*模块入口样式*/

.posts-list {
    background-color: $white;
    li {
        padding: 10px $padding;
        border-bottom: $border;
    }
    h3 {
        @extend .title;
        &:before {
            content: attr(title);
            margin-right: 10px;
            margin-top: -3px;
            @extend .tag;
            color: $white;
        }
        &.top:before {
            background: #E74C3C;
        }
        &.ask:before {
            background: #3498DB;
        }
        &.good:before {
            background: #E67E22;
        }
        &.job:before {
            background: #9B59B6;
        }
        &.share:before {
            background: #1ABC9C;
        }
    }
    .content {
        padding-top: 10px;
        @extend .display-flex; 
    }
    .avatar {
       @extend .user-avatar;
    }
    .info {
        @extend .flex;
    }
    p {
        padding: 3px 0;
        @extend .display-flex;
        color: $text;
        font-size: $font-info;

        &:first-child {
            font-size: $font-content; 
        }
        .name, time:first-child {
           @extend .flex; 
        }
        b {
            color: #42b983;
        }
    }
}
