$color31:#313131;
$colorf0:#f0f0f0;
$colorfff:#fff;
$colore7:#e7e7e7;
$colorfa:#fafafa;
$color62:#626262;
$colord4:#d4d4d4;
$colora0:#a0a0a0;
$red:#ff5a5f;
$yellow:#feb501;
$color80:#80bd01;
$gap:5px;

body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #313131;
    overflow-x: hidden;
    line-height: 1;
    background:url('../assets/images/loading.gif') no-repeat center 250px;
}

.mt5 {
    margin-top: $gap;
}

.mt10 {
    margin-top: $gap*2;
}

.color80 {
    color: #42b983;
}

.clear {
    zoom: 1;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.display-flex {
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Safari */
    display: -webkit-flex;
    /* Chrome, WebKit */
    display: flexbox;
    display: flex;
}

.flex1 {
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1;
}

.align-justify {
    -moz-box-align: justify-content;
    -ms-flex-align: align-content;
    -ms-flex-item-align: justify-content;
    -webkit-box-align: justify-content;
    /*老语法*/
    -webkit-align-items: justify-content;
    /*新语法*/
    align-content: justify-content;
    align-items: justify-content;
    justify-content: justify-content;
}

.break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user {
    width: 100%;
    margin: $gap*3 0;
    padding: 0 $gap*2;
    @extend .display-flex;
    .tab {
        display: inline-block;
        width: $gap*8;
        color: $color62;
        border-radius: $gap;
        background-color: $colore7;
        margin-right: $gap*2;
        text-align: center;
        height: $gap*4;
        line-height: $gap*4;
        vertical-align: middle;
    }
    .good {
        background-color: $color80;
        color: $colorfff;
    }

    .title {
        font-size: $gap*3.6;
        font-weight: bold;
        @extend .flex1;
        @extend .break;
    }
    .head {
        display: inline-block;
        width: $gap*9;
        height: $gap*9;
        border: 2px solid #fff6e6;
        border-radius: 50%;
        margin-right: $gap*2;
    }
    .info {
        display: block;
        @extend .flex1;

        &:after{
            clear:both;
        }

        .t-title{
            font-size: $gap*3.6;
            font-weight: bold;
            width:100%;
            @extend .break;
        }

        .cl {
            float: left;
            width: 70%;
            .name {
                display: block;
                color: $color62;
            }
            .mt10{
                margin-top: $gap*2;
            }
        }
        .cr {
            float: left;
            width: 30%;
            text-align: right;
            .name {
                display: block;
                margin-top: $gap*2;
                color: $color80;
                font-size: $gap*2.4;
            }
        }
    }
}

.reply_content {
    padding: 0 $gap*3;
    margin-bottom: $gap*3;
    img {
        width: auto\9;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    p{
        line-height:1.3;
    }
}

.no-data{
    width:100%;
    height:100%;
    padding:40% 0;
    color:$colord4;
    display:inline-block;
    font-size:18px;
    text-align:center;
}

/*
**   rework 分界线
**   ------------
*/

/* 颜色 */
$white : #ffffff;
$light : #d5dbdb;
$title : #2c3e50;
$text  : #34495e;

/* 基础布局 */
$padding : 15px; 
$border: 1px solid $light;
$radius: 4px; 

$font-title: 16px;
$font-content: 14px;
$font-info: 12px;
$font-tag: 10px; 



/* 综合布局 */

.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title {
    color: $title;
    font-size: $font-title;
    line-height: 1.5;
    @extend .text-overflow;
}

.display-flex {
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Safari */
    display: -webkit-flex;
    /* Chrome, WebKit */
    display: flexbox;
    display: flex;
}

.flex {
    display: block;
    width: 100%;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1;
}

.tag {
    padding: 5px 6px;
    font-size: $font-tag;
    font-weight: 400;
    border-radius: $radius;
    background-color: $colore7;
    text-align: center;
    vertical-align: middle;
}

.user-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #F3F3F3;
}


